.puuvili {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
}
li.oranz {
    color: orange;
}
#lemmik {
    color: pink;
}